body {
  background-color: #f7f7f7;
  font-family: sans-serif;
}

.container {
  background-color: #fff;
  margin: 100px auto;
  max-width: 500px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.input-field {
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.forgot-password {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
